<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Меню -->
<div th:fragment="sidebar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4">
      <a class="navbar-brand" href="/">Лесная система</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
          <!-- Для лесника -->
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''FORESTER'')')}">
            <a class="nav-link" th:href="@{/tasks/forester-tasks}">Мои задачи</a>
          </li>
          <!-- Для владельца -->
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''OWNER'')')}">
            <a class="nav-link" th:href="@{/tasks/owner-tasks}">Задачи</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''OWNER'')')}">
            <a class="nav-link" th:href="@{/tasks/history}">История задач</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''OWNER'')')}">
            <a class="nav-link" th:href="@{/plants}">Растения леса</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''OWNER'')')}">
            <a class="nav-link" th:href="@{/statistics}">Статистика лесников</a>
          </li>
          <!-- Если пользователь не вошёл в систему -->
          <li class="nav-item" th:if="${not #authorization.expression('isAuthenticated()')}">
            <a class="nav-link" th:href="@{/login}">Войти</a>
          </li>

          <!-- Если пользователь вошёл -->
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/logout}" method="post" style="display: inline;">
              <button type="submit" class="nav-link btn btn-link text-white" style="text-decoration: none;">Выйти</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Подвал -->
<div th:fragment="footer">
  <footer class="bg-dark py-3 text-white text-center mt-auto">
    <div class="container">
      &copy; Лесная система 2025
    </div>
  </footer>
</div>
</html>