<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Лесная система</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container mt-5 text-center">
    <div class="card shadow-lg p-4 bg-light border-0 rounded-4">
      <div class="card-body">

        <div th:if="${role == 'GUEST'}">

          <h1 class="display-5 fw-bold text-success mb-4">Добро пожаловать в Лесную систему 🌲</h1>
          <p class="fs-5 text-muted">
            Здесь вы можете управлять <strong>задачами</strong> лесников или <strong>отчитываться</strong> о проделанной работе.
            В зависимости от вашей роли вы получите доступ к нужному разделу.
          </p>
          <hr class="my-4">
          <div class="d-flex justify-content-center gap-3">
            <a href="/login" class="btn btn-success btn-lg px-4">Войти</a>
            <a href="/register" class="btn btn-outline-success btn-lg px-4">Регистрация</a>
          </div>
        </div>

        <div th:if="${session.role == 'FORESTER'}">
          <h1 class="display-5 fw-bold text-success mb-4">Добро пожаловать в Лесную систему 🌲</h1>
          <p class="fs-5 text-muted">
            <h3 th:text="'Привет, лесник ' + ${session.username} + '!'"></h3>
            Здесь ты можешь выполнять задачи, чтобы быстро и легко показать свою работу!
            Во вкладке <strong>"Мои задачи"</strong> ты можешь просматривать все свои задачи, выполнять их завершать свою задачу.
          </p>
        </div>

        <div th:if="${session.role == 'OWNER'}">
          <h1 class="display-5 fw-bold text-success mb-4">Добро пожаловать в Лесную систему 🌲</h1>
          <p class="fs-5 text-muted">
          <h3 th:text="'Привет, владелец ' + ${session.username} + '!'"></h3>
          Здесь ты можешь управлять задачами лесников, чтобы быстро и легко руководить процессом работы.
          Во вкладке <strong>"Задачи"</strong> ты можешь назначать задачи определенным лесникам,
          ждать его отчета о выполнении работы и завершать задачу.
          Завершенные задачи можно увидеть во вкладке <strong>"История задач"</strong>.
          Также вы можете наблюдать статистику каждого лесника во вкладке <strong>"Статистика лесников"</strong>
           или добавлять новые растения леса во вкладке <strong>"Растения леса"</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
