<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Задачи</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-5">
        <h2>Список задач</h2>
        <div class="mb-3">
            <a href="/tasks/new" class="btn btn-primary">Создать новую задачу</a>
        </div>
        <table class="table">
            <thead>
            <tr><th>ID</th><th>Описание</th><th>Что сделать</th><th>Растение</th><th>Статус</th><th>Отчёт</th><th>Действия</th></tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.description}"></td>
                <td>
                  <span th:switch="${task.action.name}">
                    <span th:case="PLANTING">Посадка</span>
                    <span th:case="CUTTING">Вырубка</span>
                    <span th:case="WATERING">Полив</span>
                    <span th:case="FIRE_EXTINGUISHING">Тушение пожара</span>
                    <span th:case="PATROLLING">Обход</span>
                    <span th:case="*">Неизвестно</span>
                  </span>
                </td>
                <td th:text="${task.plant.name}"> </td>
                <td>
                    <span th:if="${task.status.name() == 'PENDING'}" class="badge bg-danger text-white">Ожидает</span>
                    <span th:if="${task.status.name() == 'IN_PROGRESS'}" class="badge bg-info text-dark">В процессе</span>
                    <span th:if="${task.status.name() == 'COMPLETED'}" class="badge bg-success text-white">Выполнена</span>
                </td>
                <td>
                  <span th:if="${taskReports.containsKey(task.id)}"
                        th:text="${taskReports.get(task.id)}"></span>
                                    <span th:if="${!taskReports.containsKey(task.id)}">
                    <em>Отчёт отсутствует</em>
                  </span>
                </td>
                <td>
                    <form th:if="${task.status.name() == 'COMPLETED' and !task.approvedByOwner}"
                          th:action="@{/tasks/approve/{id}(id=${task.id})}" method="post" style="display:inline-block;">
                        <button class="btn btn-success btn-sm" type="submit">Закрыть задачу</button>
                    </form>
                    <a th:href="@{/tasks/{id}/map(id=${task.id})}" class="btn btn-info btn-sm">Открыть карту</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
