<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Отчёты</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-5">
        <h2>Отчёты</h2>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th><th>Задача</th><th>Лесник</th><th>Текст</th><th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report : ${reports}">
                <td th:text="${report.id}"></td>
                <td th:text="${report.task.description}"></td>
                <td th:text="${report.forester.username}"></td>
                <td th:text="${report.reportText}"></td>
                <td th:text="${#temporals.format(report.createdAt, 'dd.MM.yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
